.Contacts.Page-Contact
{
	padding : 120px 0 0 0;
	color   : $Color-Text-Primary;
	h2
	{
		margin : 0;
	}
	.Contacts-Info
	{
		margin : 50px auto 50px;
	}

	.Contacts-Form
	{
		width         : 100%;
		text-align    : center;
		margin-bottom : 100px;
		font-size     : 0;

		form
		{
			display    : inline-block;
			text-align : left;
		}

		button
		{
			font-size   : 16rem;
			font-weight : 600;
			text-align  : center;
			width       : 150px;
			padding     : 11px 0;
			background  : #999;
			color       : #eee;
			margin      : 30px 0 0 155px;
			cursor      : default;

			&.Active
			{
				@extend %Std-Button;

				color  : white;
				cursor : pointer;

				&.Active-Color
				{
					background : #b033eb;
				}

			}

		}
	}

	.Contacts-Dispatch
	{

		margin-top : 38px;

		span
		{

			display        : inline-block;
			vertical-align : top;
			width          : 155px;
			text-align     : left;
			padding        : 9px 0 0 0;
			font-size      : 13rem;
		}
		input, textarea
		{

			display        : inline-block;
			vertical-align : top;
			width          : 300px;
			border         : 1px solid #999;
			font-size      : 16rem;

			&:focus
			{
				border-color : $Color-Primary;
				color        : $Color-Primary;
			}
		}
		input
		{
			padding : 3px 8px;
		}
		textarea
		{
			height  : 150px;
			padding : 8px;
			resize  : none;
		}

	}
}

.JS-Form-Result
{
	text-align  : center;
	font-size   : 16rem;
	padding-top : 20px;
}