.Internal-Pictures
{
	background      : url("/images/pic-internal.jpg") center;
	background-size : cover;
	height          : 300px;
}

.Description-Wrapper
{
	padding   : 120px 50px 60px 50px;
	font-size : 0;
	color     : $Color-Text-Primary;
	h2
	{
		@extend %Unselectable;
		@extend %h2-Std;
		margin-bottom : 45px;
	}

	@at-root .Description-Block
	{
		width          : 50%;
		display        : inline-block;
		vertical-align : top;
		font-size      : 16rem;

		li
		{
			position       : relative;
			line-height    : 1.25;
			padding-bottom : 40px;
			padding-left   : 30px;

			&:before
			{
				content       : "";
				position      : absolute;
				display       : block;
				border-radius : 50%;
				left          : 0;
				top           : 5px;
				width         : 6px;
				height        : 6px;
				border        : 3px solid $Color-Primary;
			}
		}

		&.Block-Left
		{
			padding-right : 85px;
		}

		&.Block-Right
		{
			padding-left : 85px;
		}

	}

}

.Description-Wrapper.Vacancies
{
	width   : 710px;
	margin  : 0 auto;
	padding : 120px 0 60px 0;

	.Description-Block
	{
		padding : 0;

		&.Block-Left
		{
			padding-right : 40px;
		}

		&.Block-Right
		{
			padding-left : 40px;
		}

		li
		{
			padding-bottom : 25px;
		}
	}

	.Description-Block.Full-Width
	{
		width : 100%;
	}

	h2
	{
		margin-bottom : 25px;
	}

	h3
	{
		@extend %Unselectable;
		@extend %h3-Std;
		margin     : 35px 0 35px 0;
		text-align : left;
		font-size  : 20rem;
	}

	p
	{
		font-size      : 16rem;
		padding-bottom : 60px;
	}
}