.Main-Vacancies
{
    text-align:  center;
    font-weight: 700;
    padding:     100px 0 80px;

    h2
    {
        @extend %Unselectable;
        @extend %h2-Std;
        margin-bottom: 40px;
    }
}

.Demonstration-Images
{
    display: table;
    width:   100%;

    @at-root .Demonstration-Block
    {

        width:           33.33%;
        display:         table-cell;

        background-size: cover;

        &.JS-Image-Align
        {
            height: 400px;
        }

        &.Width-Full
        {
            width:      100%;
            text-align: right;
        }

        .Demonstration-Text
        {
            @extend %Unselectable;

            position:    relative;
            width:       550px;
            text-align:  left;
            font-size:   30rem;

            padding:     13px 0 20px 25px;
            background:  white;
            line-height: 1.133;

            span
            {
                position:         absolute;
                top:              0;
                left:             0;
                bottom:           0;
                width:            7px;

                background-image: -moz-linear-gradient(90deg, rgb(174, 50, 238) 0%, rgb(233, 55, 156) 100%);
                background-image: -webkit-linear-gradient(90deg, rgb(174, 50, 238) 0%, rgb(233, 55, 156) 100%);
                background-image: -ms-linear-gradient(90deg, rgb(174, 50, 238) 0%, rgb(233, 55, 156) 100%);

            }
        }

        .Demonstration-Description
        {
            display:    inline-block;
            text-align: center;
            margin:     135px 50px 0 0;
        }

        .See-Services
        {
            @extend %Std-Button;

            width:       280px;
            height:      40px;
            display:     inline-block;
            font-size:   16rem;
            color:       white;
            margin-top:  35px;
            font-weight: 600;

        }

    }

}

.Vacancies-Items
{
    font-size: 0;
    color:     $Color-Text-Primary;

    .Vacancies-Item
    {
        font-size:      12rem;
        display:        inline-block;
        width:          25%;
        vertical-align: bottom;
        margin-bottom:  60px;

        h3
        {
            @extend %Unselectable;
            @extend %h3-Std;

            font-size:      12rem;
            margin-top:     10px;
            text-transform: none;

        }

        svg
        {
            transform: scale(0.8);
        }

    }
}

.Vacancies-Item.House
{
    svg
    {
        width: 98px;
    }
}

.Vacancies-Item.Office
{
    svg
    {
        width: 97px;

    }
}

.Vacancies-Item.Industrial
{
    svg
    {
        width: 117px;
    }
}

.Vacancies-Item.Climbing
{
    svg
    {
        width: 87px;
    }
}

.Vacancies-Item.House2
{
    svg
    {
        width: 114px;
    }
}

.Vacancies-Item.Washingmachine
{
    svg
    {
        width: 90px;
    }
}

.Advantages
{
    text-align: center;
    color:      white;
    h2
    {
        @extend %Unselectable;
        @extend %h2-Std;
        margin-bottom: 40px;
        color:         $Color-Text-Primary;

    }

    @at-root .Advantages-Content
    {
        padding: 65px 0 45px 0;
        @extend %Gradient-Reverse;

        @at-root .Advantages-Items
        {
            display: table;
            width:   100%;

            @at-root .Advantages-Item
            {
                display:        table-cell;
                vertical-align: bottom;
                width:          33.33%;

                h3
                {
                    @extend %h3-Std;
                    @extend %Unselectable;
                    color:      white;
                    margin-top: 30px;
                }

                svg
                {
                    fill:    white;
                    display: inline-block;
                }
            }
        }

        p
        {
            font-size:   16px;
            max-width:   1050px;
            margin:      55px auto 0;
            line-height: 1.375;

        }
    }

    @at-root .Advantages-Item.Vacuumcleaner
    {
        svg
        {
            width: 76px;
        }
    }

    @at-root .Advantages-Item.Worker
    {
        svg
        {
            width: 82px;
        }
    }

    @at-root .Advantages-Item.Certificate
    {
        svg
        {
            width: 73px;
        }
    }

}

.Contacts
{
    h2
    {
        @extend %Unselectable;
        @extend %h2-Std;
        margin-bottom: 40px;
        margin-top:    95px;
        color:         $Color-Text-Primary;
    }

    .Contacts-Info
    {
        width:      735px;
        text-align: center;
        font-size:  0;
        margin:     50px auto 60px;

        &.Right
        {
            display:        inline-block;
            margin:         40px auto 60px !important;
            vertical-align: top;
            width:          auto;
            float:          none;

            dl
            {
                display:       block;
                width:         100%;
                margin-bottom: 40px;
                margin-left:   100px;
            }

            dt
            {
                margin-bottom: 5px;
            }
            dd
            {
                font-size:   14rem;
                line-height: 1.6;
            }
        }

        dl
        {
            display:        inline-block;
            width:          33.33%;
            vertical-align: top;
            text-align:     left;
            font-size:      16rem;
            color:          $Color-Text-Primary;

            dt
            {
                font-weight:   700;
                margin-bottom: 25px;

            }

            dd
            {
                font-weight: 600;
                line-height: 1.25;

            }
        }
    }
}