.Services
{
	padding : 100px 0 50px 0;

	h2
	{
		@extend %Unselectable;
		@extend %h2-Std;
		margin-bottom : 45px;
	}
}

.Services-List
{
	font-size : 0;
}

.Services-Item
{
	position       : relative;
	display        : inline-block;
	width          : 25%;
	vertical-align : top;
	padding        : 1px;

	.JS-Image-Align
	{
		height : 300px;
	}

	a
	{
		display : block;
	}

	p
	{
		position    : absolute;
		bottom      : 0;
		left        : 0;
		right       : 0;
		font-size   : 13px;
		font-weight : 600;
		color       : white;
		line-height : 1.2;
		text-align  : left;
		text-shadow : 0 2px 5px rgba(0, 0, 0, 1);
		padding     : 0 17px 10px 17px;

	}

}

.Service-Description
{
	max-width   : 700px;
	margin      : 0 auto;
	padding-top : 115px;
	padding-bottom: 150px;

	h3
	{
		font-size      : 18rem;
		color          : #222;
		line-height    : 1.333;
		font-weight    : 600;
		padding-bottom : 25px;

	}

	p
	{
		font-size      : 16rem;
		color          : rgb(34, 34, 34);
		line-height    : 1.5;
		padding-bottom : 25px;
	}

	a
	{
		font-size       : 13rem;
		color           : #e9379c;
		text-decoration : underline;
	}
}