%Unclickable
{
	cursor : default;
}

%Unselectable
{
	@extend %Unclickable;
	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}
}

%Std-Transition
{
	transition : all 0.2s linear;
}

%Button-Modules
{
	@extend %Unselectable;
	position      : relative;
	display       : inline-block;
	width         : 100%;
	max-width     : 270px;
	border-radius : 4px;
	text-align    : center;
	padding       : 15px;
	cursor        : pointer;
	background    : #f95e1c;
	transition    : all .2s linear;
	box-shadow    : 0 3px 5px 0 rgba(0, 0, 0, 0.25), inset 0 -48px 70px -45px #db340e;
	font-size     : 14rem;
	color         : #fff;
	z-index       : 9;
	border        : none;
	@include Adaptive(">=ipad-P")
	{
		padding   : 15px 20px;
		font-size : 18rem;
	}

	&:hover
	{
		transition   : all 0.2s linear;
		background   : #333;
		border-color : #333;
		box-shadow   : none;
	}

}

%Uppercase
{
	text-transform : uppercase;
}

%Form-Circle
{
	border-radius : 50%;
}

%Form-Rounded
{
	border-radius : 4px;
}

%Transition-Fill
{
	transition : fill linear .2s;
}

%Transition-Fast
{
	transition : background linear .2s, background-color linear .2s, color linear .2s;
}

%Gradient
{
	background-image : -moz-linear-gradient(180deg, rgb(174, 50, 238) 0%, rgb(233, 55, 155) 100%);
	background-image : -webkit-linear-gradient(180deg, rgb(174, 50, 238) 0%, rgb(233, 55, 155) 100%);
	background-image : -ms-linear-gradient(180deg, rgb(174, 50, 238) 0%, rgb(233, 55, 155) 100%);
}

%Gradient-Reverse
{
	background : rgb(174, 50, 238);
	background : -moz-linear-gradient(left, rgb(174, 50, 238) 0%, rgb(229, 55, 161) 100%);
	background : -webkit-linear-gradient(left, rgb(174, 50, 238) 0%, rgb(229, 55, 161) 100%);
	background : linear-gradient(to right, rgb(174, 50, 238) 0%, rgb(229, 55, 161) 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae32ee', endColorstr='#e537a1', GradientType=1);
}

%h2-Std
{
	font-size      : 30rem;
	text-transform : uppercase;
	font-weight    : 700;
	text-align     : center;
}

%h3-Std
{
	font-size      : 16rem;
	text-transform : uppercase;
	font-weight    : 700;
	text-align     : center;
}

%Std-Button
{

	background-image : -moz-linear-gradient(90deg, rgb(174, 50, 238) 0%, rgb(233, 55, 156) 100%);
	background-image : -webkit-linear-gradient(90deg, rgb(174, 50, 238) 0%, rgb(233, 55, 156) 100%);
	background-image : -ms-linear-gradient(90deg, rgb(174, 50, 238) 0%, rgb(233, 55, 156) 100%);
	box-shadow       : inset 0 -21px 27px 0 rgba(233, 55, 156, 0.004);

	&:hover
	{
		background : $Color-Primary;
	}

	&:active
	{

		background-image : -moz-linear-gradient(-180deg, rgb(176, 51, 236) 0%, rgb(232, 55, 156) 100%);
		background-image : -webkit-linear-gradient(-180deg, rgb(176, 51, 236) 0%, rgb(232, 55, 156) 100%);
		background-image : -ms-linear-gradient(-180deg, rgb(176, 51, 236) 0%, rgb(232, 55, 156) 100%);
	}
}