html
{
	font-size   : 1px;
	font-family : 'Open Sans', sans-serif;
	position    : relative;
}

input, button, textarea:focus
{
	outline : none;
}

button
{
	border : none;
	cursor : pointer;
}

body
{
	font-size  : 12rem;
	background : #cfcfcf;
}

a
{
	color           : inherit;
	text-decoration : none;
}

.Svg-Container
{
	display : none;
	height  : 0;
	opacity : 0;
}

.Wrapper
{
	width      : 1200px;
	margin     : 40px auto 40px;
	background : white;
}







