
.Footer
{
	@extend %Gradient;

	display     : table;
	width       : 100%;
	padding     : 17px 50px;
	font-size   : 14rem;
	color       : white;
	font-weight : 600;

	span
	{
		opacity : 0.75;
	}

	@at-root .Footer-Block
	{
		display        : table-cell;
		vertical-align : middle;
	}

	@at-root .Footer-Block.Copyright
	{
		text-align : left;
	}

	@at-root .Footer-Block.Make
	{

		text-align : right;

		span > span
		{
			display       : inline-block;
			border-bottom : 2px solid rgba(255, 255, 255, 0.75);
		}

	}
}