
.Header-Content
{
	display     : table;
	width       : 100%;
	font-weight : bold;

	.Header-Block
	{
		display        : table-cell;
		vertical-align : middle;
	}
}

.Header-Block
{
	padding : 45px 0;
}

.Header-Block.Logo, .Header-Block.Phone
{
	width : 25%;
}

.Header-Block.Logo
{
	text-align   : left;
	padding-left : 50px;

	h1
	{
		@extend %Std-Transition;
		display        : inline-block;
		vertical-align : middle;
		font-size      : 17rem;
		margin-left    : 17px;
	}

	.Header-Logo
	{
		@extend %Unselectable;

		position : relative;
		cursor   : pointer;

		svg
		{
			@extend %Std-Transition;

			width          : 60px;
			height         : 60px;
			display        : inline-block;
			vertical-align : middle;
		}

		&:hover.Active
		{
			h1
			{
				@extend %Std-Transition;

				opacity : 0;
			}

			svg
			{
				@extend %Std-Transition;

				opacity : 0;
			}

			.Header-Back.Active
			{
				span, svg
				{
					@extend %Std-Transition;
					opacity : 1;
				}
			}
		}

		.Header-Back
		{
			position  : absolute;
			width     : 240px;
			top       : -20px;
			font-size : 0;
			span
			{
				@extend %Std-Transition;
				opacity        : 0;
				font-size      : 17rem;
				font-weight    : 700;
				vertical-align : middle;
			}
			svg
			{
				@extend %Std-Transition;
				opacity      : 0;
				width        : 18px;
				margin-right : 15px;
			}
		}
	}
}

.Header-Block.Phone
{
	text-align  : right;

	font-weight : bold;
	color       : white;

	.Header-Phone
	{
		@extend %Gradient;

		display    : inline-block;
		position   : relative;
		right      : -10px;
		width      : 295px;
		text-align : right;
		padding    : 10px 10px 10px 0;
		font-size  : 0;

		svg, a, span
		{
			display        : inline-block;
			vertical-align : middle;
		}

		svg
		{
			fill          : white;
			height        : 23px;
			width         : 23px;
			margin-right  : 13px;
			border        : 2px solid white;
			border-radius : 50%;
			padding       : 7px;
		}

		span
		{
			font-size : 24rem;
		}

		.Header-Triangle
		{
			position     : absolute;

			width        : 0;
			height       : 0;
			border-top   : 10px solid #9100d0;
			border-right : 10px solid transparent;
			right        : 0;
			bottom       : -10px;

		}
	}
}

.Header-Block.Menu
{
	width      : 40%;
	text-align : center;
	font-size  : 0;
	color      : $Color-Text-Primary;

	li
	{
		position       : relative;
		display        : inline-block;
		vertical-align : middle;
		font-size      : 17rem;
		margin         : 0 20px;

		&:before
		{

			position   : absolute;
			left       : 0;
			right      : 0;
			bottom     : -10px;
			height     : 3px;
			background : $Color-Primary;
		}

		&:hover
		{
			&:before
			{
				content : "";
			}
		}

		&.Active
		{
			cursor : default;
			&:before
			{
				position      : absolute;
				content       : "";
				display       : block;
				top           : -10px;
				left          : -13px;
				right         : -13px;
				height        : auto;
				background    : none;
				bottom        : -10px;
				border-radius : 10px;
				border        : 3px solid $Color-Primary;
			}

		}
	}

}
